/*добавление шрифта*/
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*кнопка всплывающего меню*/
.burger {
  position: relative;
  height: 40px;
  margin-top: 60px;
}
.burger span {
  display: block;
  width: 3.13%;
  height: 6px;
  margin: 0px 0px 5px 92.29%;
  background-color: #C4C4C4;
  border-radius: 11px;
}


/*первая страница*/ 

.container {
  max-width: 1440px;
  max-height: 768px;
  margin: 0px auto 0px;
}
.container_main_page {
  text-align: center;
  margin-top: 60px;
}
.container_main_page h1 {
  font-family: 'Black Ops One';
  font-size: 146px;
  font-weight: 400;
  line-height: 182.5px;
  color:#4F4444;
  /*margin-left: 37.5%*/
  margin: 135px auto -37px;
  /*margin-top: 135px;
  margin-bottom: -37px;*/
}

/*серая полоска под лого*/
#yaft_bottom_span {
  display: block;
  background-color: #C4C4C4;
  margin: 14px auto 0;
  width: 4.72%;
  height: 7px;
  border-radius: 10px;
}

.container_main_page h2 {
  font-family: 'Black Ops One';
  font-weight: 400;
  font-size: 29px;
  color: #A19090;
  line-height: 36.25px;
}

.container_main_page h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #8C8989;
}


/*выбор города отправления*/
.choice_city_form {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #6C6C6C;
  border-radius: 30px;
  height: 41px;
  width: 14.31%;
  margin: 32px auto 16px;
  text-align: center;
  
}
/*изменение плейсхолдера - исчезающей подсказочной фразы*/
.choice_city_form::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32.44px;
  top: 0;
  bottom: 0;
  color: #BEBABA;
}
.choice_city_form:focus::placeholder {
  color: transparent;
}
/*число и месяц отправления*/
.date_number {
  display: inline-block;
  position: relative;
  border: 2px solid #A79E9E;
  border-radius: 10px;
  width: 3.82%;
  height: 36px;
  margin: 14px 0 28px 0;
}
  .date_month {
  display: inline-block;
  position:relative;
  margin-left: 1.2%;
  border: 2px solid #A79E9E;
  border-radius: 10px;
  width: 10.35%;
  height: 36px;
}
.date_number p{
  color: #5F5A5A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.date_month p{
  color: #5F5A5A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}


/*форма для выбора количества дней нахождения на месте*/
.range_day input {
  margin-top: 12px;
  margin-bottom: 14px;
}
.range_day input[type=range] {
  -webkit-appearance: none;
  background-color: #C4C4C4;
  width: 200px;
  height: 4px;
}
.range_day input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #C4C4C4;
  border-radius: 40px;
  width: 26px;
  height: 26px;
}

/*страница результатов для выбранного города*/
.result_page {
    text-align: center;
    margin: 119px auto 93px;
}
.result_page h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #8C8989;
    
    margin-bottom: 23px;
}
.result_page h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 44px;
    margin-bottom: 13px;
    color: #767070;

}
.result_page h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8C8989;
    margin-bottom: 24px;
}
/*погода*/
.weat_fsts {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

/*подходящая одежда*/
.nec_clothes {
    display: flex;
    justify-content: center;
    width: 100%;
}
.shoes, .top_and_bottom, .accessories {
    display: flex;
    justify-content: space-around;
}
.shoes_nec_cloth, .accessories_nec_cloth, .top_and_bottom_nec_cloth img {
    object-fit: cover;
    height: 92px;
    width: 132px;
}
.chk_mark {
    display: block;
    width: 23px;
    height: 21px;
    background-color: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 40px;
    margin: 0 auto;
}

/*необходимые вещи*/
.nec_things {
    display: flex;
    justify-content: space-around;
    margin-bottom: 52px;
}
.nec_thing p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #767070;
    margin-top: 12px;
    margin-bottom: 12px;
}
.nec_thing img {
    margin: 0px auto;
}

/*страница статей*/
.articles {
    margin-bottom: 112px;
}
.articles_page h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #767070;
    text-align: center;
    margin-bottom: 36px;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article {
    width: 350px;
    text-align: center;
    margin-bottom: 42px;
}
.article img {
    margin: 0 auto;
}
.articles_page h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #8C8989;
    margin-top: 7px;
}